body { 
    background-color: #ffffff; 
}
body {
    font-family: 'Lexend', sans-serif;
}

.custom-text-color {
    color: #073B4C; 
}

#loadingAnimation {
    transition: opacity 0.5s ease-in-out;
}

.search-bar { 
    background-color: #073B4C; 
    border-radius: 10px; 
    padding: 30px; 
}

.search-bar input, .search-bar select { 
    border-radius: 5px; 
    padding: 10px; 
}

.search-bar button { 
    background-color: #06D6A0; 
    color: #073B4C; 
    font-weight: bold;
    border-radius: 5px; 
    padding: 10px 20px; 
}

.input-error {
    border: 5px solid #B3000F; 
}

.input-error::placeholder {
    color: #B3000F; 
}

.hidden {
    display: none;
}

#noResultsMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#salvaRicercaBtn {
    border-color: #06D6A0 !important;
}

[data-svg-wrapper] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Assicura che occupi tutto lo spazio disponibile */
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 150px; 
}

#risultati {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.annuncio {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    flex: 1 1 calc(50% - 20px);
    min-width: 300px;
    max-width: 100%;
    cursor: pointer; 
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.annuncio:hover {
    transform: scale(1.02); /* Effetto zoom leggero */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
    .annuncio {
        width: 100%; 
    }
}

.annuncio img {
    width: 150px; /* Imposta una larghezza fissa */
    height: 150px; /* Imposta un'altezza fissa */
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px; /* Spazio tra immagine e testo */
}

.info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.top-info {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.prezzo {
    font-size: 18px;
    font-weight: bold;
    color: #073B4C;
}

.dettagli {
    font-size: 14px;
    color: #000;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
}

.descrizione {
    font-size: 14px;
    color: #555;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center; 
    text-align: justify; 
    min-height: 2em; 
}

#pagination {
    margin-top: 40px;
}
.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.pagination-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #073B4C;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s;
}

.pagination-button[disabled] {
    opacity: 0.5;
    cursor: default;
}

.pagination-button svg {
    width: 30px;
    height: 30px;
}
