.info-box { 
    border-color: #073B4C; 
}

.login-box { 
    background-color: #073B4C; 
}

.titolo{
    color: #073B4C ;
}

.sottoTitolo{
    color: #073B4C ;
}

.accesso{
    background-color: #06D6A0; 
    color: #073B4C;
    font-weight: bold;
}

.divisore{
    background-color: #073B4C;
}