body { 
    background-color: #ffffff; 
    font-family: 'Lexend', sans-serif;
}

.custom-text-color {
    color: #073B4C; 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    flex-wrap: nowrap;
    min-width: 0;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 0;
    overflow: hidden;
}

.logo {
    height: 64px;
    max-width: 100%;
    transition: all 0.3s ease;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    transition: all 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subtitle {
    font-size: 1rem;
    transition: all 0.3s ease;
    white-space: nowrap;
    margin-top: -5px;
}

.top-right-icons {
    display: flex;
    align-items: center;
    gap: 40px;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
    color: #073B4C;
}

.icon-text:hover {
    transform: scale(1.1);
}

.register-box{
    border: 5px solid #06D6A0;
    border-radius: 15px;
    padding: 60px 40px;
    width: 410px;
    height: 270px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #073B4C;
    transition: transform 0.3s;
    margin-top: 30px;
}

.register-box:hover { 
    transform: scale(1.05); 
}

.agency-icon-container {
    position: relative;
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 10px;
}

.building-icon {
    width: 100%;
    height: 100%;
    display: block;
}

.circle {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    z-index: 1;
}

.small-plus-icon {
    width: 60px;
    height: 60px;
}

.plus-icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 2;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 150px; 
    border : none !important;
}

#risultati {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.annuncio {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    gap: 15px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    min-width: 300px;
    max-width: 100%;
}

.annuncio:hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.annuncio img {
    width: 150px !important;
    height: 150px !important;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    width: 100%;
    gap: 5px;
}

.top-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.prezzo {
    font-size: 18px;
    font-weight: bold;
    color: #073B4C;
}

.dettagli {
    font-size: 14px;
    color: #000;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
}

.descrizione {
    font-size: 14px;
    color: #555;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center; 
    text-align: justify; 
    min-height: 2em; 
    width: 100%;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.pagination-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #073B4C;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s;
}

.pagination-button[disabled] {
    opacity: 0.5;
    cursor: default;
}

.pagination-button svg {
    width: 30px;
    height: 30px;
}

@media (max-width: 900px) {
    .logo {
        height: 48px;
    }

    .title {
        font-size: 2rem;
        max-width: 60vw;
    }

    .subtitle {
        font-size: 0.9rem;
    }

    .top-right-icons {
        gap: 10px;
    }

    .top-right-icons svg {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 800px) {
    .hide-on-small span {
        display: none;
    }

    .register-box{
        width: 90%;
    }
}

@media (max-width: 500px) {
    .logo {
        height: 27px;
    }

    .title {
        font-size: 1.0rem;
        max-width: 40vw;
    }

    .subtitle {
        font-size: 0.5rem;
    }

    .hide-text {
        display: none;
    }

    .top-right-icons svg {
        width: 30px;
        height: 30px;
    }

    .register-box{
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .annuncio {
        flex-direction: column;
        align-items: flex-start;
    }

    .annuncio img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .top-info {
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        justify-content: space-between;
        gap: 5px;
    }

    .prezzo, .dettagli, h3, .descrizione {
        width: 100%;
        text-align: left;
    }

    .register-box{
        width: 90%;
    }
}
