body {
    font-family: 'Lexend', sans-serif;
    background-color: #ffffff;
}

.custom-text-color {
    color: #073B4C; 
}

.register-box, .login-box {
    border: 5px solid #073B4C;
    border-radius: 15px;
    padding: 40px 30px;
    width: 410px;
    height: 320px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-box {
    background-color: white;
    color: #073B4C;
    transition: transform 0.3s;
}

.register-box:hover { 
    transform: scale(1.05); 
}

.login-box {
    background-color: #073B4C;
    color: white;
}

.agency-icon-container {
    position: relative;
    width: 150px; /* Ridotto proporzionalmente */
    height: 150px;
    display: inline-block;
    margin: 20px;
}

.building-icon {
    width: 100%;
    height: 100%;
    display: block;
}

/* Cerchio bianco ridotto */
.circle {
    position: absolute;
    bottom: 15px; /* Regolato per centrare */
    right: 15px;
    width: 32px; /* Ridotto proporzionalmente */
    height: 32px;
    background: white;
    border-radius: 50%;
    z-index: 1;
}

.small-plus-icon {
    width: 60px;
    height: 60px;
}

/* Icona "+"*/
.plus-icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 2;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="email"] {
    pointer-events: auto;
    user-select: auto;
    color: #000;
}

input[type="password"] {
    pointer-events: auto;
    user-select: auto;
    color: #000;
}

.error-message {
    color: #B6000F; /* Rosso personalizzato */
    text-align: center;
    background-color: #ffffff; /* Sfondo rosa chiaro */
    border: 5px solid #d62828; /* Bordo rosso scuro */
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.btn-custom {
    padding: 12px;
    border-radius: 6px;
    width: 150px;
    background-color: #06D6A0;
    color: #073B4C;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

